.homeMenu {
    height: 48px;
    width: 100%;

    padding: 0 32px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.homeMenu button {
    height: 100%;

    padding: 0 8px;

    background-color: #9FC7A0;
    color: white;

    border: 0;
    border-radius: 8px;
}

.homeMenu button.active {
    background-color: #3F693E;
}
